fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic[email]
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
libgravatar
fastapi-mail
redis
fastapi-limiter
cloudinary
httpx
fastapi-pagination==0.11.4
aiofile
aiopath
qrcode
psycopg2-binary
