<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
</head>

<body>
    <p>Hi {{username}},</p>
    <p>You have requested a password reset.</p>
    <p>Please click the following link to go to the password change page:</p>
    <p>
        <a href="{{host}}api/auth/reset-password/confirm/{{token}}">
            Verification
        </a>
    </p>
    <p>If you did not have requested a password reset, please ignore this email, or login and set up more stronger password.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
</body>

</html>
